* {
  font-family: fantasy;
  text-align: center;
}

body {
  background-color: red;
}

img {
  display: block;
  margin: auto;
  /*transition: height 2s;*/
  transition: transform 2s;
  border-radius: 50%;

}

img:hover {
  border: 10px dashed orange;
  /*width: 300px;*/
  transform: rotate(3600deg) scaleX(10);
}


p {
  color: blue;
  transition: font-size 2s;
}

p:hover {
  color: purple;
  font-size: 0px;
}

.rightHand {
  display: inline-block;
  width: 40%;
  height: 300px;
  background-color: blue;
}

.container {
  width: 80%;
  display: inline-block;
  background-color: yellow;
  margin: auto;
  border: 10px solid orange;
  animation: pulse;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    border-radius: 0px;
    background-color: yellow;
  }

  50% {
    border-radius: 200px;
    background-color: chartreuse;
  }

  100% {
    border-radius: 0px;
    background-color: yellow;
  }
}